{% extends 'runtime/cmdbase.html'%}

<h1>{% block notify%}{{notify}}{% endblock%}</h1>

{% block pre%} 
    <table>
    {% for v in pre%}
        <tr><td>{{ forloop.counter }}:  {{v}}</tr></td>
    {%endfor%}
    </table>
{%endblock%}

{% block content%} 
    {% if form.errors %}
        <p style="color: red;">
            请改正以下错误{{ form.errors|pluralize }} 
        </p>
    {% endif %}

    <form action="" method="post">{% csrf_token %}
        <div class="field">
			{{ form.id.errors }}
            <label for="id_id">id:</label> 
            {{ form.id }}
        </div>
        <div class="field">
            {{ form.message.errors }}
            <label for="id_message">Message:</label>
            {{ form.message }}
        </div>
        <input type="submit" value="Submit">
    </form>

{% endblock%}

{% block after%} {{after}} {% endblock%}